
.download {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

  a,
  span {
    color: black;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 45px;
  }
}