footer {
  margin: 0;
  border-top: 1px solid black;
  width: 100%;
  height: 30px;

  span {
    font-family: "Geometria Regular", sans-serif;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    line-height: 25px;
    color: gray;
  }

  .firstText {
    left: 10px;
  }

  .secondText {
    right: 10px;
  }
}