header {
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  position: relative;

  nav {
    display: flex;
    flex-direction: row;
    gap: 300px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-64%);


    a {
      text-decoration: none;
      align-self: flex-end;
    }

    .logotype {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
      }

      .title {
        font-family: "Geometria Regular", sans-serif;
        font-weight: bold;

        :nth-child(1) {
          font-size: 50px;
          color: black;
        }

        :nth-child(2) {
          font-size: 50px;
          color: black;
        }

        :nth-child(3) {
          font-size: 25px;
          color: black;
        }

        :nth-child(4) {
          font-size: 25px;
          color: black;
        }
      }
    }


    .links {
      display: flex;
      flex-direction: row;
      gap: 50px;
      align-self: flex-end;


      .anchors{
        font-family: "Geometria Regular", sans-serif;
        font-size: 25px;
        font-weight: normal;
        color: black;
      }

      .anchors:hover {
        color: darkgray;
      }
    }
  }
}