
.purpose {
  width: 100%;
  height: 300px;
  background: linear-gradient(to bottom, #F0F0F0 5%, #fff 50%, #fff 100%);
  position: relative;

  .purposeInside {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    font-family: "Geometria Regular", sans-serif;

    h2 {
      font-size: 30px;
      margin-bottom: 5px;
      font-weight: normal;
      visibility: hidden;
    }

    .purposeText {
      margin-top: 5px;
      font-size: 20px;
      text-align: justify;
      visibility: hidden;
    }
  }
}